/* Reduce width to approx 230px (Standard is 300px) */
.custom-sidebar {
  --width: 200px;
  --background: #1a1f2e;
  --side-max-width:20%;
}

.sidebar-header {
  display: flex;
  justify-content: center; /* Centers the logo horizontally */
  align-items: center;
  padding: 15px 15px;      /* Increased padding for a better look */
  background: #ffffff; 
  border-bottom: 1px solid #f0f0f0;
}


.erp-logo {
  height: 60px;      /* Fixed height for consistency */
  width: auto;       /* Maintains aspect ratio */
  max-width: 100%;
  object-fit: contain;
  /* Adds a subtle professional pop */
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.05));
}

.logo-subtitle {
  margin: 0;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  color: #6c757d;      /* Professional slate grey */
  letter-spacing: 1px; /* Spaced out letters for a cleaner look */
  text-transform: uppercase;
}


.brand-text h3 { color: white; margin: 0; font-size: 16px; font-weight: 600; }
.brand-text p { color: #94a3b8; margin: 0; font-size: 12px; }
.nav-item {
  --background: transparent;
  --color: #94a3b8;
  --padding-start: 15px;
  margin: 2px 8px;
  --border-radius: 8px;
  font-size: 13.5px;
}

.nav-item.active {
  --background: #3b82f6;
  --color: #ffffff;
}

/* Sub-menu Styling */
.sidebar-accordion {
  background: transparent;
}

.sub-menu {
  background: #4789f3; /* Slightly darker than main sidebar */
  margin: 0 8px;
  border-radius: 0 0 8px 8px;
}

.sub-nav-item {
  --background: transparent;
  --color: #d8e0eb;
  --padding-start: 48px; /* Offset to the right */
  font-size: 12.5px;
  height: 35px;
}

.sidebar-footer {
  border-top: 1px solid #2d3748;
  margin-top: 20px;
}